.header {
  background-color: #BCA6A6;
  padding: 1rem;
}

.header nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1rem;
}

.header a:hover {
  text-decoration: underline;
}
